:root {
    --headercolor: #99089E;
    --h2color: #59035C;
    --background-gradient: to bottom, #660066 0%, #FF3399 100%;
    --white: #9c9c9c;
}

body{
    background-color: black;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    margin-left: auto; margin-right: auto;
    width: auto;
}

header {
    margin: 20 10 10 px;
    padding: 20px;
    width: 100%;
    text-align: center;
}



main {
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
}



h1 {
    font-size: 200%;
    color:var(--headercolor);
    margin: 20px 0
    
}

h2 {
    font-size: 150%;
    color:var(--h2color);
    margin: 0;
    word-wrap: normal;
}

content {

    padding: 10px;
    border: dashed var(--white);
    width: 30%;
    min-width: 300px;
    max-height: 40% ;
    min-height: 300px;
    color:var(--h2color);
    margin: 50px 10px 0;
    flex-flow: column nowrap;
}


.code-head {
    position: relative;
    bottom: 36px;
    padding: 10px;
    border: solid var(--white);
    background-color: black;
    border-radius: 10px;
    margin: 0
}

.code-desc {}

.code-card {
    padding: 10px;
    border: solid black;
    color: var(--white);
    background-image: linear-gradient(to bottom, var(--headercolor) 0%, var(--h2color) 100%);
    border-radius: 10px;
    font-family: monospace;
}




/* on <pre> click, select all contents so the code is highlighted */
.code-card p pre:active {
    user-select: all;
  }