:root {
    --headercolor: #99089E;
    --h2color: #59035C;
    --background-gradient: to bottom, #660066 0%, #FF3399 100%;
    --white: #9c9c9c;
}

body{
    background-color: black;
    color: var(--white);
    font-size: 16px;
    border-width: 10px;
    margin: auto;
    width: fit-content;
}

header {
    margin: 20 10 10 px;
    padding: 20px;
    width: 100%;
    text-align: center;

}

header p {
    line-height: 1.5;
}

main {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: fit-content;
    margin: auto;
    flex-flow: row wrap;
}



h1 {
    font-size: 200%;
    color:var(--headercolor);
    margin: 20px 0
    
}

h2 {
    font-size: 150%;
    color:var(--h2color);
    margin: 0;
    word-wrap: normal;
}

content{
    flex: 1 1 3;
    padding: 10px;
    border: dashed var(--white);
    width: 25%;
    min-width: 300px;
    color:var(--h2color);
    margin: 50px 10px 0;
    
}


section{

    position: relative;
    bottom: 36px;
    padding: 10px;
    border: solid var(--white);
    background-color: black;
    border-radius: 10px;
    margin: 0
}

content p {
    text-align: start;
    padding: 10px 0;
}

article{
    padding: 10px;
    border: solid black;
    color: var(--white);
    background-image: linear-gradient(to bottom, var(--headercolor) 0%, var(--h2color) 100%);
    border-radius: 10px;
}

/* on <pre> click, select all contents so the code is highlighted */
.code-card p pre:active {
    user-select: all;
  }

article p {
    font-family: monospace;
    line-height: 1.5;
}